* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

nav {
    padding: 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav ul li {
    padding: 10px;
    list-style: none;
}

li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #3333b4;
}

ul h1 {
    font-weight: bold;
    font-size: 30px;
    color: #3333b4;
    background-image: url("https://media.istockphoto.com/id/1248542684/vector/abstract-blurred-colorful-background.jpg?s=612x612&w=0&k=20&c=6aJX8oyUBsSBZFQUCJDP7KZ1y4vrf-wEH_SJsuq7B5I=");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-position: center;
}

header {
    background-color: black;
}

body {
    background-color: black;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.error {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.error h2 {
    font-size: 45px;
}

@media screen and (max-width: 768px) {
    li {
        margin-bottom: 10px;
    }

    li a {
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    ul h1 { 
        font-size: 24px;
    }
}